{
  "globals": {
    // Globals
    "$": false,
    "App": false,
    "Assets": false,
    "Autoupdate": false,
    "Blaze": false,
    "Cordova": false,
    "DDP": false,
    "DDPServer": false,
    "Date": false,
    "DeepLink": false,
    "Deps": false,
    "ECMAScript": false,
    "FastClick": false,
    "HTML": false,
    "Handlebars": false,
    "LaunchScreen": false,
    "Map": false,
    "Meteor": false,
    "Mongo": false,
    "MongoInternals": false,
    "Npm": false,
    "Package": false,
    "Promise": false,
    "Reload": false,
    "Session": false,
    "Set": false,
    "Spacebars": false,
    "Template": false,
    "Tracker": false,
    "UI": false,
    "UrlShortner": false,
    "WebApp": false,
    "WebAppInternals": false,
    "_": false,
    "babelHelpers": false,
    "handleOpenURL": false,
    "jQuery": false,
    "main": false,
    "parseInt": false
  }
}
